In [11]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("../../CryptoBotPrueba/ETHUSDT-1m-2022-05.csv",
                 header=None, 
                 names= ["open_time","open","high","low", "close",
                         "volume", "close_time" ,"quote_asset_volume",
                         "number_of_trades", "taker_buy_base_asset_volume",
                         "taker_buy_quote_asset_volume", "ignore"])
df

,open_time,open,ligh,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,1651363200000,2726.67,2729.36,2725.86,2728.04,628.9811,1651363259999,1.715749e+06,700,348.2220,9.498775e+05,0
1,1651363260000,2728.05,2728.59,2726.51,2727.20,368.7584,1651363319999,1.005854e+06,484,279.6466,7.628195e+05,0
2,1651363320000,2727.21,2731.74,2727.20,2731.67,563.1505,1651363379999,1.537359e+06,705,364.8842,9.959794e+05,0
3,1651363380000,2731.67,2733.17,2727.18,2733.16,3325.9394,1651363439999,9.073275e+06,1266,2400.7013,6.548084e+06,0
4,1651363440000,2733.16,2733.17,2730.84,2733.03,278.3504,1651363499999,7.605418e+05,496,137.1773,3.747891e+05,0
...,...,...,...,...,...,...,...,...,...,...,...,...
44635,1654041300000,1943.71,1946.16,1940.00,1940.66,1385.0172,1654041359999,2.692265e+06,981,411.7625,8.002848e+05,0
44636,1654041360000,1940.66,1940.94,1938.04,1939.25,914.3149,1654041419999,1.773253e+06,927,361.3201,7.007132e+05,0
44637,1654041420000,1939.25,1941.79,1938.39,1940.87,627.5494,1654041479999,1.217479e+06,499,280.2652,5.436485e+05,0
44638,1654041480000,1940.87,1942.00,1939.67,1939.68,562.3038,1654041539999,1.091493e+06,425,175.9596,3.415376e+05,0
44639,1654041540000,1939.67,1941.91,1939.21,1941.90,544.0735,1654041599999,1.055828e+06,469,336.1182,6.521473e+05,0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44640 entries, 0 to 44639
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   open_time                     44640 non-null  int64
 1   open                          44640 non-null  float64
 2   ligh                          44640 non-null  float64
 3   low                           44640 non-null  float64
 4   close                         44640 non-null  float64
 5   volume                        44640 non-null  float64
 6   close_time                    44640 non-null  int64
 7   quote_asset_volume            44640 non-null  float64
 8   number_of_trades              44640 non-null  int64
 9   taker_buy_base_asset_volume   44640 non-null  float64
 10  taker_buy_quote_asset_volume  44640 non-null  float64
 11  ignore                        44640 non-null  int64
dtypes: float64(8), int64(4)
memory usage: 4.1 MB

In [3]:
from datetime import datetime

df.open_time = df.open_time.apply(lambda x: datetime.utcfromtimestamp(x/1000).strftime('%Y-%m-%d %H:%M:%S'))
df.close_time = df.close_time.apply(lambda x: datetime.utcfromtimestamp(x/1000).strftime('%Y-%m-%d %H:%M:%S'))

In [4]:
df.open_time

0        2022-05-01 00:00:00
1        2022-05-01 00:01:00
2        2022-05-01 00:02:00
3        2022-05-01 00:03:00
4        2022-05-01 00:04:00
                ...
44635    2022-05-31 23:55:00
44636    2022-05-31 23:56:00
44637    2022-05-31 23:57:00
44638    2022-05-31 23:58:00
44639    2022-05-31 23:59:00
Name: open_time, Length: 44640, dtype: object

In [5]:
df_open_time_close = df[["open_time","close"]].set_index("open_time")
df_open_time_close

                       close
open_time
2022-05-01 00:00:00  2728.04
2022-05-01 00:01:00  2727.20
2022-05-01 00:02:00  2731.67
2022-05-01 00:03:00  2733.16
2022-05-01 00:04:00  2733.03
...                      ...
2022-05-31 23:55:00  1940.66
2022-05-31 23:56:00  1939.25
2022-05-31 23:57:00  1940.87
2022-05-31 23:58:00  1939.68
2022-05-31 23:59:00  1941.90

[44640 rows x 1 columns]

In [6]:
df_otc_shift = df_open_time_close.shift(1)

In [8]:
df_otc_shift2 = df_otc_shift.copy()

for i in range(1, 13):
    df_otc_shift2[f't - {i}'] = df_otc_shift2['close'].shift(i)
    

df_otc_shift2.dropna(inplace=True)

In [9]:
df_otc_shift2

,close,t - 1,t - 2,t - 3,t - 4,t - 5,t - 6,t - 7,t - 8,t - 9,t - 10,t - 11,t - 12
open_time,,,,,,,,,,,,,
2022-05-01 00:13:00,2734.00,2730.84,2730.05,2734.33,2736.37,2737.77,2736.09,2731.65,2733.03,2733.16,2731.67,2727.20,2728.04
2022-05-01 00:14:00,2730.36,2734.00,2730.84,2730.05,2734.33,2736.37,2737.77,2736.09,2731.65,2733.03,2733.16,2731.67,2727.20
2022-05-01 00:15:00,2730.44,2730.36,2734.00,2730.84,2730.05,2734.33,2736.37,2737.77,2736.09,2731.65,2733.03,2733.16,2731.67
2022-05-01 00:16:00,2731.05,2730.44,2730.36,2734.00,2730.84,2730.05,2734.33,2736.37,2737.77,2736.09,2731.65,2733.03,2733.16
2022-05-01 00:17:00,2732.78,2731.05,2730.44,2730.36,2734.00,2730.84,2730.05,2734.33,2736.37,2737.77,2736.09,2731.65,2733.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-31 23:55:00,1943.70,1948.12,1948.72,1949.55,1949.58,1949.00,1948.96,1949.73,1949.18,1949.64,1947.93,1948.20,1949.53
2022-05-31 23:56:00,1940.66,1943.70,1948.12,1948.72,1949.55,1949.58,1949.00,1948.96,1949.73,1949.18,1949.64,1947.93,1948.20
2022-05-31 23:57:00,1939.25,1940.66,1943.70,1948.12,1948.72,1949.55,1949.58,1949.00,1948.96,1949.73,1949.18,1949.64,1947.93
2022-05-31 23:58:00,1940.87,1939.25,1940.66,1943.70,1948.12,1948.72,1949.55,1949.58,1949.00,1948.96,1949.73,1949.18,1949.64
2022-05-31 23:59:00,1939.68,1940.87,1939.25,1940.66,1943.70,1948.12,1948.72,1949.55,1949.58,1949.00,1948.96,1949.73,1949.18